.navbar {
    padding-left: 5vw;
    background-color: #9abf9d;
    color: black;
  }

  .navbar-brand {
    min-width: 100px;
    color: #447c59;
  }
  .navbar-brand:hover {
    color: #447c59;
  }
  .nav-link {
    font-weight: 700;
  }
  .nav-link:visited {
    text-decoration: none;
    color: #447c59;
  }
  .nav-link:hover {
    background-color: #447c59;
    color: white;
    border-radius: 5px;
  }