body {
    background-image: url(../IMG/contact.jpg);
}
.contenido {
    background-color: rgb(68, 124, 89, .8);
    margin-top: 2rem;
    padding: 2rem;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5)
}
hr {
    color: white;
}